body {
	background-color: purple;
	text-align: center;
}
 h2, p {
	font-family: fantasy;
	color: white;
}

h1{
	font-family: Times;
	color: white;
	font-size:10;
}

button {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 24px;
	font-size: 16px;
	border-radius: 8px;
}

#StoryWrapper {
	background-color: magenta;
	color: white;
	margin: 24px;
	padding: 24px;
	padding-bottom: 116px;
}

#StoryInfo {
	background-color: purple;
	color: white;
	float: left;
	margin: 24px;
	margin-top: -64px;
	padding: 24px;
}

.GenericPurple {
	background-color: purple;
	color: white;
}

.GenericMagenta {
	background-color: magenta;
	color: white;
}
