body {
	text-align: center;
	background-color: purple;
}

h1, h2, p {
	font-family: fantasy;
	color: white;
}

#StoryWrapper {
	margin: 24px;
	padding: 24px;
	color: white;
	background-color: magenta;
}

#StoryInfo {
	margin: 24px;
	padding: 24px;
	color: white;
	background-color: magenta;
	float: left;
}
